<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config></context:annotation-config>

    <bean id="conversionService" class="org.springframework.context.support.ConversionServiceFactoryBean">
        <property name="converters">
            <set>
                <bean class="com.example.propertyeditor.convertors.StringToDateConvertor"/>
                <bean class="com.example.propertyeditor.convertors.AnotherContactConvertor"></bean>
            </set>
        </property>
    </bean>


    <bean id="contact" class="com.example.propertyeditor.properties.Contact">
        <property name="firstName" value="krishna Cibver"></property>
        <property name="lastName" value="hotha"></property>
        <property name="dateTime" value="1990-01-01"></property>
        <property name="url" value="abc"></property>
    </bean>

</beans>