<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xmlns:c="http://www.springframework.org/schema/c"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="injectProperty" class="java.lang.String" c:_0="this is from parent"></bean>
    <bean id="injectProperty1" class="java.lang.String" c:_0="this is from parent 1"></bean>
</beans>